<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
        <meta name="applicable-device" content="mobile" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta content="telephone=no" name="format-detection" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <title>Welcome to fis-mvc</title>
    </head>
    <body>
      <div style="height:100px;line-height:100px;text-align:center;background:#ccc;font-size:20px;margin-bottom:50px;">
        公共头部
      </div>

      @RenderBody()

        <div style="height:100px;line-height:100px;text-align:center;background:#ccc;font-size:20px;margin-top:50px;">
          公共脚部
        </div>
    </body>
</html>
